<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ihreapp.projekt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Schwingenschlag-Punkte</name>
    <description>
        Eine Beispiel-App für Schwingenschlag-Punkte.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Hier werden die Plattform-Einstellungen definiert -->
    <platform name="ios">
        <!-- Das cordova-res Plugin wird diese Bilder verwenden, um alle Icon-Größen zu generieren -->
        <icon src="resources/icon.png" />
        <splash src="resources/splash.png" />

        <!-- Sie können auch spezifische Icons definieren, wenn Sie möchten, aber cordova-res ist einfacher -->
        <!-- <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" /> -->
        <!-- <splash src="res/screen/ios/Default@2x~universal~anyany.png" /> -->
    </platform>
    
    <platform name="android">
        <!-- Hier können Sie Android-spezifische Einstellungen definieren -->
    </platform>

    <preference name="Orientation" value="portrait" />
    <!-- Weitere Präferenzen hier... -->
</widget>
